body {
  font-family: Arial, sans-serif;
  background-image: url('One-green-tennis-ball.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  margin: 0;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

header img {
  max-height: 60px;
}

header h1 {
  font-size: 2em;
  margin: 10px 0;
}

.header-clock {
  font-size: 1.2em;
  color: #ffcc00;
  font-family: 'Courier New', monospace;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.scoreboard {
  background-color: #2c4c4c;
  border: 4px solid #ffffff;
  padding: 15px;
  border-radius: 10px;
  font-family: 'Courier New', monospace;
  color: white;
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.court {
  font-size: 1.2em;
  color: #ffcc00;
}

.clock {
  font-size: 1.5em;
  text-align: right;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

th, td {
  font-size: 1em;
  text-align: center;
  padding: 5px;
}

.label {
  text-align: left;
  font-weight: bold;
}

.match-status {
  margin-top: 20px;
  padding: 10px;
}

.ended-match, .pending-match {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  text-align: center;
}

.ended-match {
  background-color: #27F58E;
}

.pending-match {
  background-color: #0b1d4d;
}

.vs-box {
  border: 2px solid #ff6600;
  color: #ff6600;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 0.9em;
  margin: 0 5px;
}

.sponsor-banner {
	display: flex;
	justify-content: center;
	margin-top: 0px; /* espace sous les tableaux */
}

.sponsor-banner img {
	max-width: 90%; /* s’adapte à la largeur de la page */
	height: auto;
	width : auto;	
	border-radius: 8px; /* optionnel pour arrondir les coins */
}

#no-match-message {
    font-size: 4em;           /* texte en gros */
    font-style: oblique;      /* texte oblique */
    font-weight: bold;        /* texte en gras */
    color: #ff3333;           /* couleur rouge */
    text-align: center;       /* centré */
    margin-top: 40px;
    animation: blink 1s infinite; /* clignotement */
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
