body { font-family: Arial, sans-serif; background-image: url('screen_page.jpg'); background-size: cover; background-position: center; color: white; margin: 0; }
.overlay { background-color: rgba(0, 0, 0, 0.3); padding: 20px; min-height: 100vh; }
header { font-size: 1em; display: flex; flex-direction: column; margin-bottom: 20px; }
.brand-logo { inline-size:1em; }
.brand-title { font-size: 1em; }
header img { max-height: 60px; }
header h1 { font-size: 0.2em; margin: 10px 0; }
.header-clock { font-size: 1.0em; color: #ffcc00; font-family: 'Courier New', monospace; background-color: rgba(0, 0, 0, 0.4); border-radius: 5px; font-weight: bold; }
.scoreboard { position: relative; background-image: url('tennis-field.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; border: 4px solid #ffffff; padding: 20px; border-radius: 10px; font-family: 'Courier New', monospace; color: white; max-width: 545px; height: 200px; overflow: hidden; display: flex; flex-direction: column; justify-content: space-between; margin: 5px; }
.scoreboard::before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); border-radius: 10px; z-index: 1; }
.scoreboard > * { position: relative; z-index: 2; }
.header { display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px; }
.court { font-size: 1.2em; color: #ffcc00; font-weight: bold;}
.clock { font-size: 1.5em; text-align: right; font-weight: bold;}
table { width: 100%; border-collapse: collapse; color: white; }
th, td { font-size: 1em; text-align: center; padding: 5px; font-weight: bold;}
.label { text-align: left; font-weight: bold; }
.match-status { margin-top: 20px; padding: 10px; }
.ended-match, .pending-match { background-color: rgba(255, 255, 255, 0.2); color: white; font-weight: bold; font-size: 1em; text-transform: uppercase; padding: 10px; margin-bottom: 10px; border-radius: 8px; text-align: center; }
.ended-match { background-color: #27F58E; }
.pending-match { background-color: #0b1d4d; }
.vs-box { border: 2px solid #ff6600; color: #ff6600; padding: 2px 8px; border-radius: 4px; font-size: 0.9em; margin: 0 5px; }
.sponsor-banner {display: flex; justify-content: center; margin-top: 0px; }
.sponsor-banner img { max-width: 90%; height: auto; width : auto; border-radius: 8px; }
